<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://portfoliowebsitebackend20230731233005.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f0522803-5092-4e22-bb89-c9b8d843faa4/resourceGroups/PortfolioWebsiteBackend20230731233005ResourceGroup/providers/Microsoft.Web/sites/PortfolioWebsiteBackend20230731233005</ResourceId>
    <UserName>$PortfolioWebsiteBackend20230731233005</UserName>
    <_SavePWD>true</_SavePWD>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>portfoliowebsitebackend20230731233005.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>PortfolioWebsiteBackend20230731233005</DeployIisAppPath>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>PortfolioWebsite_Backend_ATDD</WebJobName>
  </PropertyGroup>
</Project>